---
---
@charset "utf-8";

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

   // Our variables
$base-font-family: Helvetica, sans-serif;
$base-font-size:   13px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$title-size: 13px;

$background-color: #ffffff;
$pink: #EB005A;
$blue: #009dec;
$yellow: #FFFF00;
$spacing-unit: 30px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "style"
;

