<nav class="helvetica">
  <ul>
    <!-- <li><a class="clickable site-title" href="{{ site.baseurl }}/">kevin ma</a></li>
    <li class="spacer"></li>
    {% for page in site.pages %}{% if page.title %}
    <li><a class="clickable" href="{{site.url}}{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}{% endfor %}
    <li><a class="clickable" href="http://kevinyma.com">product design</a></li> -->

    <li><a class="fw5 f1 hover-bg-yellow clickable" href="{{site.url}}{{site.baseurl}}/proj">All</a></li>


  </ul>
</nav>
