<div class="fixed fl bottom-0 left-0 helvetica f3">
 {% if page.next.url %}{% if page.next.ignore != "yes" %}
 <a class="next link hover-bg-yellow pr2" href="{{site.baseurl}}{{page.previous.url}}">previous: {{page.previous.title}} &laquo;</a>
 	{% endif %}{% endif %}
</div>

<div class="fixed fr bottom-0 right-0 helvetica f3">
{% if page.previous.url %}{% if page.previous.ignore != "yes" %}
<a class="prev link hover-bg-yellow pl2" href="{{site.baseurl}}{{page.next.url}}">&raquo; next: {{page.next.title}}</a>
 {% endif %}{% endif %}
</div>
