/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * Big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    white-space:pre;

}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



$column-width: 280px;
$thumbnail-width: 25%;
$thumbnail-height: 25vw;
$gap: 30px;
$nav-width: 150px;
$pink: #EB005A;
$blue: #009dec;
$yellow: #FFFF00;
$almond: BlanchedAlmond;
$title-line-height: 30px;

html, body {
    height: 100%;
    //background: BlanchedAlmond;
    color: black;
}

.gender-viz {
    .paper {
        position: fixed;
        height: 270px;
    }
    background: white;
    nav {
        width: 180px;
        height: 220px;

    }
    body {
        background: white;
    }
}

.box-page {
    //shitty hacks, manually overriding everything. traash
    // body {
    //     background: #ff8080!important;
    //     color: white!important;
    // }
    // background: #ff8080;
    // nav a, a:visited {
    //     color: white;
    // }
    // a, a:visited {
    //     color: white;
    // }


     aside {
        width: 350px;
        position: absolute;
        left: 875px;
        margin: 0;
        padding: 0;
        background: none;
    }
}

.me {
    margin-top: 30px;
    width: 200px;
}

.brilliant {
    box-shadow: 1px 1px 10px #888888;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}


.wireframe {
    width: 1000px;
    margin-bottom: 100px;

}

.size-1-1 {
    width: $thumbnail-width;
    position: relative;

}

.proj-link:hover {
  .date {
    color: gray;
  }
}


canvas {
    width: 100%;
    height: 100%;

}

.canvas-container {
    height: 100%;
    margin-left: $nav-width;
}




.clickable {
    pointer-events: auto;
}
.prevnext {
    margin-top: 100px;
    margin-bottom: $gap;
}

article {
    margin: 85px $gap 100px $nav-width+$gap;
    z-index: 0;
    img {
        width: 100%;
        white-space:pre;
    }
}

 .projects {
    margin: 30px $gap 60px $nav-width+2*$gap;
    width: 840px;
    position: relative;
    }

.content {
    //font for body stuff here
    margin-top: 30px;
}

.misc-post {
    width: 100%;
}

.post {

    max-width: 2*$column-width + $gap;
    margin: 30px 0 50px $nav-width+2*$gap;

}

.projects {
  margin: 30px 0 50px $nav-width+2*$gap;
}

h1 {
    font-size: $title-size;
    line-height: $title-line-height;
    font-weight: 500px;
}

.small {
    font-size: $small-font-size;
    line-height: 1.6;
}

 article {
         a {
            text-decoration: underline;
        }
    }

a {
        background: none;
        text-decoration: none;
        color: black;
    }
a:visited {
        color: black;
    }
a:hover {
    color: black;
}

.thumbnail {
    float: left;
    .resource {

        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        // border: 2px dashed #EB005A;
    }
    .caption {
        display: none;
    }
    img {
        height: 100%;
        width: auto;
    }
    .title {
        font-size: 0.7em;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-25%);
        pointer-events: none;
        text-align: center;
        color: black;
    }
    a:hover .title{
        background: yellow;
        color: black;
    }
}


.thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.next {
    float: right;
}

.box-gif {
    height: 40px;
    width: auto;
    margin-left: 23%;
}



/* ==========================================================================
   Nav
   ========================================================================== */
nav {
    ul {
    }
    ul, li{
        padding: 0;
        background: none;
        list-style: none;

    }
    li.spacer {
        margin-top: 10px;
    }
    a {
        background: none;
        text-decoration: none;

    }
    a:visited {
    }
    a:hover {

    }
}

nav,aside,article {
    float: left;
}

nav {
    padding-left: $gap;
    margin-top: 30px;
    width: $nav-width;
    z-index: 1;
    position: fixed;
    height: 100%;
    // keep children clickable but this parent unclickable
    pointer-events: none;
}

/* ==========================================================================
   aside
   ========================================================================== */

aside {
    h1 {
    color: $blue;
    }
    ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
    color: $blue;
    }

    top: 120px;
    padding: 30px;
    margin-left: 570px;
    margin-top: 30px;
    width: 400px;
    background: rgba(255,255,0,0.5);
    white-space: pre-wrap;


}


.aside-normal {
   top: 300px;
    position: absolute;
}

.aside-top {
    top: 120px;
    position: fixed;

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }



    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
