
/*====================Only for Nav (so janky lol)====================*/
/*nav {
    padding-left: 30px;
    width: 180px;
    z-index: 1;
    position: fixed;
    height: 100%;
    background: none;
    color: #EB005A;
    height: 180px;
    pointer-events: none;
    float: left;
    font-family: 'Inconsolata'
}

nav > h1 {
    color: $pink;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
    line-height: 30px;
    font-family: 'Merriweather';
}


nav > ul, li{
        color: #EB005A;
        margin: 0;
        padding: 0;
        background: none;
        list-style: none;


    }
.spacer {
        margin-top: 10px;
    }

li > a {
        background: none;
        text-decoration: none;
        color: #EB005A;
}
    nav>a:visited {
        color: #EB005A;
    }
    nav>a:hover {
        text-decoration: underline;
    }
}

.clickable {
    pointer-events: auto;
}*/

/*====================General====================*/


#year-filter {
    display: none;
}

body { 
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    margin: 0;
    font-size: 1.24rem;
}

.textbox {
    width: 500px;
     font-size: 1.4rem;

}

.gender-container {
    font-family: "Source Sans Pro";
    color: black;
    width: 972px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-left: solid 1px #DDD;
    border-right: solid 1px #DDD;
    position: relative;
    background: white;
    z-index:100;
}

.gender-container-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Merriweather";
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    height: initial;
}

div > h3 {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Merriweather';
}


.introduction {
    margin-left: 10px;
}

/*====================Filters====================*/

.filter-group {
    display: flex;
    margin-bottom: 5px;
}

.filter-label {
    width: 50px;
    text-align: right;
    margin-right: 12px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 1.2rem;
    font-weight: 600;
}

.filter {
    cursor: pointer;
    padding: 0 7px;
    margin-left: -3px;
    background: white;
    text-align: center;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    height: 25px;

    font-weight: 400;
    font-size: 1.2rem;
}


.border{
    border: 1px solid rgba(127, 125, 156, 0.54);    

}

.front-curve {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.back-curve {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-title {
    padding-left: 60px;
    padding-bottom: 1px;
    font-weight: 600;
    font-size: 1.2rem;
}

.restore-button {
    cursor: pointer;
    padding: 0 7px;
    margin-left: -3px;
    background: white;
    text-align: center;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    height: 25px;
    font-weight: 400;
    font-size: 1.2rem;
}



/*====================Active/Hover States====================*/
.active {
    background-color: #F5F5F5;
    color: black;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #adadad;
}

.pages-filter > .active {
    background-color: white;
    color: black;
    box-shadow: none;
    border-color: none;
}

.pages-filter > .filter:hover {
    color: black;
}

.filter:hover {
    background-color: #F5F5F5;
}

.restore-button:hover {
    background-color: #F5F5F5;
}

/*====================Page Filter Specific====================*/

.page-filter-group {
    display: flex;
    margin-bottom: 5px;
}

.page-filter {
    cursor: pointer;
    padding: 0px 20px;
    margin-left: 0px;
    background: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    height: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 1.5rem;
}

.page-filter:hover {
    background-color: #fff;
}

.leftmost {
    border-left: none;
}


/*====================Positioning====================*/

.pages-filter {
    margin-top: 20px;
}

.roles-filters {
    position: absolute;
    top: 380px;
    left: 10px;
}

.roles-filters-alt {
    position: absolute;
    top: 300px;
    left: 10px;
}

.restore-button-group {
    position: absolute;
    top: 540px;
    left: 72px;
}

.restore-button-group-alt {
    position: absolute;
    top: 440px;
    left: 72px;
}

.legend {
    width: 200px;
    position: absolute;
    top: 600px;
    left: 10px;
}

.statistics {
    width: 265px;
    height: 400px;
    position: absolute;
    top: 250px;
    left: 700px;
}

.cover {
    position: absolute;
    background-color: white;
    height: 400px;
    width: 50px;
    top: 0;
    right: 0;

}

.revenue {
    position: absolute;
    top: 250px;
    left: 330px;
    pointer-events: none;
}

.description {
    width: 250px;
    position: absolute;
    top: 220px;
    left: 10px;
}

.description-revenue {
    width: 250px;
    position: absolute;
    top: 200px;
    left: 10px;
}


/*====================Descriptions====================*/

h3 {
    font-weight: 600;
    font-size: 1.4rem;

    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Merriweather';
}

.description-histogram {
    display: none;
}

.description-revenue {
    display: none;
}

/*====================Legend====================*/

.legend-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    vertical-align: baseline;
    position: relative;
    top: 0px;
    color: red;
}

.label {
    color: black;
    margin: 0;
    display: inline-block;
    vertical-align: text-bottom;
    font-weight: 400;
    font-size: 1.2rem;
}

.legend-box {
    display: block;

}

.legend-box-women {
    margin-top: 7px;
}

.red {
    background: rgba(255, 0, 0, 0.6);
}

.blue {
    background: rgba(0, 0, 255, 0.6);
}

/*====================Statistics====================*/

.statistics {
    font-weight: 400;
    font-size: 1.2rem;
}

.statistics-women-box {
    margin-top: 160px;
    margin-bottom: 30px;
}

.statistics-women {
    color:rgba(255, 0, 0, 0.6);
    font-size: 1.7rem;
    font-weight: 600;
}

.statistics-men {
    color: rgba(0, 0, 255, 0.6);
    font-size: 1.7rem;
    font-weight: 600;
}

/* Revenue STATS */

.revenue {
    font-weight: 400;
    font-size: 1.2rem;
}

.revenue-box {
    margin-bottom: 50px;
    float: left;
    width: 150px;
    margin-right: 50px;
}
.revenue-women {
    color:rgba(255, 0, 0, 0.6);
    font-size: 1.7rem;
    font-weight: 600;
}

.revenue-men {
    color:rgba(0, 0, 255, 0.6);
    font-size: 1.7rem;
    font-weight: 600;
}




/*====================Dropdown Year Filter====================*/
.dropbtn {
    cursor: pointer;
    padding: 0 6px;
    margin-left: -3px;
    background: #ffffff;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 12px;
    font-color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    height: 25px;
    border: 1px solid rgba(127, 125, 156, 0.54);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#caret {
    margin-left: 5;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
    height: 25px;
    text-align: center;
    margin-left: .1px;

}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: #F5F5F5}

.year-filter:hover .dropdown-menu {
    display: block;
}

.year-filter:hover .dropbtn {
    background-color: #F5F5F5;
}


/*====================Tooltips====================*/

    div.tooltip {  
    color: black; 
        position: absolute;           
        text-align: center;           
        width: 210px;                  
        /*height: 270px;      */           
        padding: 2px;             
        font: 10px sans-serif;        
        background: white;   
        border: 1px solid rgba(127, 125, 156, 0.54);    
        border-radius: 4px; 
        border-style: solid;          
        pointer-events: none;
        box-shadow: 1px 1px 3px 2px rgba(0,0,0,.125);
 
    }

    .poster {
        height: 150px;
        margin-top: 7px;
        margin-bottom: 7px;

    }
    .dataBox {
        padding-right: 5px;
        padding-top: 10px;}

    .dataRow{
        display: flex;
        left: 60px;
        top: 60px;
        height: 15px;
        width: auto;}

    .dialogueLabel{
        font-size: 9px;
        font-weight: 600;
        line-height: 11px;
        margin: 0px;
        width: 100px;
        text-align: right;
        margin-right: 4px;}

    .nameLabel{
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        margin: 0px;
        width: 200px;
        text-align: middle;
        font-family: 'Merriweather';
        }

    .dataLabel{
        font-size: 9px;
        font-weight: 600;
        line-height: 15px;
        margin: 0px;
        width: 200px;
        text-align: middle;}

    .dataBar {
        height: 10px;}

    .dataPercent{
        font-size: 10px;
        color: black;
        line-height: 10px;
        margin: 0px;
        font-weight: 500;
        margin-left: 4px;}

    .crewLabel{
        font-size: 9px;
        font-weight: 600;
        line-height: 11px;
        margin: 0px;
        text-align: right;
        margin-right: 2px;
        margin-left: 7px;
    }

    .dataCrewGender{
        font-size: 9px;
        line-height: 10px;
        margin: 0px;
        font-weight: 600;
        margin-left: 0px;}

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-size: 11px;
        text-transform: capitalize; 
        

    }
    .nameAxis path,
    .nameAxis line{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .nameAxis text{
        font-size: 11px;
        text-transform: capitalize; 
        text-align: right;
        transform: translateY(5px) rotate(-45deg) translateX(-30px);
    }
